<nav class="navbar--main navbar navbar-light">
  <a class="navbar-brand" href="#">ACL</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#site-nav-toggleable">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-sm" id="site-nav-toggleable" role="tablist" aria-multiselectable="true">
    <ul class="site-nav nav navbar-nav">
      <li class="site-nav__item nav-item panel">
        <a class="site-nav__link hidden-sm-down" href="#">Ship with ACL</a>
        <a class="site-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#collapse--ship-with-acl" data-parent="#site-nav-toggleable">Ship with ACL</a>
        <div class="collapse collapse--site-nav" id="collapse--ship-with-acl">
          {% include "organisms-sub-nav" %}
        </div>
      </li>
      <li class="site-nav__item nav-item panel">
        <a class="site-nav__link hidden-sm-down" href="#">Schedules</a>
        <a class="site-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#collapse--schedules" data-parent="#site-nav-toggleable">Schedules</a>
        <div class="collapse collapse--site-nav" id="collapse--schedules">
          {% include "organisms-sub-nav" %}
        </div>
      </li>
      <li class="site-nav__item nav-item panel">
        <a class="site-nav__link hidden-sm-down" href="#">Pricing</a>
        <a class="site-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#collapse--pricing" data-parent="#site-nav-toggleable">Pricing</a>
        <div class="collapse collapse--site-nav" id="collapse--pricing">
          {% include "organisms-sub-nav" %}
        </div>
      </li>
      <li class="site-nav__item nav-item panel">
        <a class="site-nav__link hidden-sm-down" href="#">Oversized &amp; RORO Cargo</a>
        <a class="site-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#collapse--oversized-roro-cargo" data-parent="#site-nav-toggleable">Oversized &amp; RORO Cargo</a>
        <div class="collapse collapse--site-nav" id="collapse--oversized-roro-cargo">
          {% include "organisms-sub-nav" %}
        </div>
      </li>
      <li class="site-nav__item nav-item panel">
        <a class="site-nav__link hidden-sm-down" href="#">About ACL</a>
        <a class="site-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#collapse--about-acl" data-parent="#site-nav-toggleable">About ACL</a>
        <div class="collapse collapse--site-nav" id="collapse--about-acl">
          {% include "organisms-sub-nav" %}
        </div>
      </li>
    </ul>
    <ul class="icon-list icon-list--site-nav pull-md-right hidden-md-down">
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/facebook" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/twitter" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/googleplus" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/linkedin" %}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
