<nav class="site-navigation navbar navbar-light">
  <a class="site-navigation-brand navbar-brand" href="#">ACL</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#site-navigation-toggleable">
    &#9776;
  </button>
  <div class="site-navigation-collapse collapse navbar-toggleable-sm" id="site-navigation-toggleable" role="tablist" aria-multiselectable="true">
    <ul class="site-navigation-nav nav navbar-nav">
      <li class="site-navigation-nav__item nav-item active">
        <a class="site-navigation-nav__link nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="site-navigation-nav__item nav-item panel">
        <a class="site-navigation-nav__link hidden-sm-down" href="#">Ship with ACL</a>
        <a class="site-navigation-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#sub-nav--ship-with-acl" data-parent="#site-navigation-toggleable">Ship with ACL</a>
        <ul id="sub-nav--ship-with-acl" class="site-navigation-nav__sub-nav sub-nav collapse">
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
        </ul>
      </li>
      <li class="site-navigation-nav__item nav-item panel">
        <a class="site-navigation-nav__link hidden-sm-down" href="#">Schedules</a>
        <a class="site-navigation-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#sub-nav--schedules" data-parent="#site-navigation-toggleable">Schedules</a>
        <ul id="sub-nav--schedules" class="site-navigation-nav__sub-nav sub-nav collapse">
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
        </ul>
      </li>
      <li class="site-navigation-nav__item nav-item panel">
        <a class="site-navigation-nav__link hidden-sm-down" href="#">Pricing</a>
        <a class="site-navigation-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#sub-nav--pricing" data-parent="#site-navigation-toggleable">Pricing</a>
        <ul id="sub-nav--pricing" class="site-navigation-nav__sub-nav sub-nav collapse">
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
        </ul>
      </li>
      <li class="site-navigation-nav__item nav-item panel">
        <a class="site-navigation-nav__link hidden-sm-down" href="#">Oversized &amp; RORO Cargo</a>
        <a class="site-navigation-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#sub-nav--oversized-roro-cargo" data-parent="#site-navigation-toggleable">Oversized &amp; RORO Cargo</a>
        <ul id="sub-nav--oversized-roro-cargo" class="site-navigation-nav__sub-nav sub-nav collapse">
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
        </ul>
      </li>
      <li class="site-navigation-nav__item nav-item panel">
        <a class="site-navigation-nav__link hidden-sm-down" href="#">About ACL</a>
        <a class="site-navigation-nav__link hidden-md-up" href="#" data-toggle="collapse" data-target="#sub-nav--about-acl" data-parent="#site-navigation-toggleable">About ACL</a>
        <ul id="sub-nav--about-acl" class="site-navigation-nav__sub-nav sub-nav collapse">
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
          <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
        </ul>
      </li>
    </ul>
    <ul class="icon-list icon-list--site-navigation pull-md-right">
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/facebook" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/twitter" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/googleplus" %}</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a class="icon-list__link" href="">
          <span class="icon icon--svg">{% include "00-atoms/icons/linkedin" %}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
