<ul class="sub-nav">
  <li class="sub-nav__item"><a class="sub-nav__link" href="">Overview</a></li>
  <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 1</a></li>
  <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 2</a></li>
  <li class="sub-nav__item"><a class="sub-nav__link" href="">Sub Navigation Link 3</a></li>
</ul>
