{% include "organisms-site-navigation" %}
{% include "molecules-full-screen-hero" %}

<nav class="shortcut-nav">
  <ul class="shortcut-nav__nav container-fluid max-width-xl">
    <li class="shortcut-nav__item col-xs-6 col-md-2 col-md-offset-1">
      <a class="shortcut-nav__link" href="">Get a Quote</a>
    </li>
    <li class="shortcut-nav__item col-xs-6 col-md-2">
      <a class="shortcut-nav__link" href="">Plan</a>
    </li>
    <li class="shortcut-nav__item col-xs-6 col-md-2">
      <a class="shortcut-nav__link" href="">Book</a>
    </li>
    <li class="shortcut-nav__item col-xs-6 col-md-2">
      <a class="shortcut-nav__link" href="">Why ACL?</a>
    </li>
    <li class="shortcut-nav__item col-xs-12 col-md-2">
      <a class="shortcut-nav__link" href="">Track</a>
    </li>
  </ul>
</nav>

{% include "organisms-titled-feature-list" %}
{% include "molecules-full-width-background-image" %}
{% include "organisms-titled-card-list" %}
<section class="contact-us-router">
  <div class="container-fluid max-width-lg">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>Headquarters</p>
        <div class="hq-contact-block">
          <p class="hq-contact-block__title">We are here for you!</p>
          <a class="hq-contact-block__phone" href="tel:9085185310"><img class="hq-contact-block__flag" src="/images/flags/United-States.png"> (908) 518-5310</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7 col-md-offset-1">
        <p>International. Click on a flag...</p>
        <div class="intl-contact-list">
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Canada.png" alt="Go to the Canada contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Belgium.png" alt="Go to the Belgium contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Denmark.png" alt="Go to the Denmark contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Finland.png" alt="Go to the Finland contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/France.png" alt="Go to the France contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Germany.png" alt="Go to the Germany contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Ireland.png" alt="Go to the Ireland contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/United-Kingdom.png" alt="Go to the United Kingdom contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Norway.png" alt="Go to the Norway contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Sweden.png" alt="Go to the Sweden contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Switzerland.png" alt="Go to the Switzerland contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Estonia.png" alt="Go to the Estonia contact page"></a>
          <a class="intl-contact-list__item" href=""><img class="intl-contact-list__flag" src="/images/flags/Latvia.png" alt="Go to the Latvia contact page"></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "molecules-full-width-background-image" %}
{% include "organisms-site-footer" %}
