<section class="titled-feature-list">
  {% embed "molecules-header-2col-body" with { cssClass: "max-width-lg" } %}
    {% block header %}
      <h3 class="titled-feature-list__title display-4">Section Title</h3>
      <p class="titled-feature-list__sub-title lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    {% endblock %}
    {% block body_col_1 %}
      <ul>
        <li>
          <h5>Item Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet repellendus nihil labore doloribus laboriosam odit quia dignissimos voluptatem nisi iusto esse sequi quasi eum nulla velit minima, cupiditate illo.</p>
        </li>
        <li>
          <h5>Item Title</h5>
          <p>Aspernatur sint, aperiam at architecto cum eius veniam repudiandae ratione unde cumque deleniti ipsa tempora dolore. Odio quas ipsum culpa aspernatur, repellendus illum nobis, architecto obcaecati earum? Est quisquam, excepturi.</p>
        </li>
        <li>
          <h5>Item Title</h5>
          <p>Voluptatem atque assumenda, debitis illo reprehenderit totam mollitia quibusdam asperiores dolorum ratione possimus iure hic commodi odio ea dolore nam quo dolores soluta eos nostrum minima! Sapiente unde recusandae, autem!</p>
        </li>
      </ul>
    {% endblock %}
    {% block body_col_2 %}
      <ul>
        <li>
          <h5>Item Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet repellendus nihil labore doloribus laboriosam odit quia dignissimos voluptatem nisi iusto esse sequi quasi eum nulla velit minima, cupiditate illo.</p>
        </li>
        <li>
          <h5>Item Title</h5>
          <p>Aspernatur sint, aperiam at architecto cum eius veniam repudiandae ratione unde cumque deleniti ipsa tempora dolore. Odio quas ipsum culpa aspernatur, repellendus illum nobis, architecto obcaecati earum? Est quisquam, excepturi.</p>
        </li>
        <li>
          <h5>Item Title</h5>
          <p>Voluptatem atque assumenda, debitis illo reprehenderit totam mollitia quibusdam asperiores dolorum ratione possimus iure hic commodi odio ea dolore nam quo dolores soluta eos nostrum minima! Sapiente unde recusandae, autem!</p>
        </li>
      </ul>
    {% endblock %}
  {% endembed %}
</section>
