<div class="site-footer">
  <div class="container-fluid max-width-lg">
    <div class="row">
      <div class="col-xs-12 col-md-6 m-b-2">
        <a class="brand">ACL</a>
        <p class="small">Copyright &copy; 2016 ACL Cargo. All Rights Reserved.</p>
        <ul class="icon-list icon-list--social-media">
          <li class="icon-list__item">
            <a class="icon-list__link" href="">
              <span class="icon icon--svg">{% include "00-atoms/icons/facebook" %}</span>
            </a>
          </li>
          <li class="icon-list__item">
            <a class="icon-list__link" href="">
              <span class="icon icon--svg">{% include "00-atoms/icons/twitter" %}</span>
            </a>
          </li>
          <li class="icon-list__item">
            <a class="icon-list__link" href="">
              <span class="icon icon--svg">{% include "00-atoms/icons/googleplus" %}</span>
            </a>
          </li>
          <li class="icon-list__item">
            <a class="icon-list__link" href="">
              <span class="icon icon--svg">{% include "00-atoms/icons/linkedin" %}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        {% include "molecules-newsletter-signup" %}
      </div>
    </div>
  </div>
</div>
